.stylled-record-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 5px 20px;
  background-color: #fff;
  border: 3px solid #012367;
}
@media (max-width:768px) {
  .stylled-record-cell {
    padding: 5px 8px;
  }
}