.placeholder {
  width: 80%;
  height: 100px;
  margin: 20px auto 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--theme-color-normal);
  border-radius: 15px;
  color: #333;
  font-size: 1.2rem;
  font-weight: 500;
}
