.form {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-background-ultra-light);
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #ccc;
}
select,
option {
  cursor: pointer;
}

.footer {
  display: flex;
  width: 95%;
}
.warning {
  width: 100%;
  background-color: rgb(255, 230, 0);
  color: #333;
  font-size: 1.2rem;
  text-align: center;
  display: gird;
  grid-column: 1/-1;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  margin: 10px 0;
}
@media (min-width: 768px) {
  .form {
    display: grid;
    grid-template-rows: repeat(2, auto) minmax(60px, auto);
    grid-template-columns: auto 1fr auto 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    padding: 10px 35px;
    width: 95%;
    margin: 10px auto;
    overflow: hidden;
  }
  .form label {
    align-self: center;
  }
  .form input[type="text"],
  .calories-input,
  .form input[type="date"],
  .form select {
    align-self: center;
    width: 200px;
  }
  .form label {
    width: fit-content;
    display: block;
  }
  .footer {
    grid-column: 1/-1;
    justify-self: center;
    max-width: 400px;
    width: 100%;
  }
}
