.container {
  display: flex;
  flex-direction: column;

  max-width: 768px;
  margin: auto;
}
.item {
  display: flex;
  justify-content: space-between;
  color: var(--theme-color-normal);
  border-bottom: 1px solid var(--theme-color-dark);
}
.item:last-child {
  border-bottom: none;
}

.back-link {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  letter-spacing: 2px;
  padding: 10px;
  width: 100px;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 400;
  margin: 50px auto;
  background-color: var(--theme-color-normal);
  color: #fff;
}
